body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #247345;
  }
  .title{
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
    color: #141c3a;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
  #demo{
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    color: #141c3a;
    letter-spacing: 1px;
    font-style: italic;
  }
  #dealers_hand{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  #players_hand{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  .playerCard{
    min-width: 120px;
    height: 200px;
    display: inline-block;
    overflow: wrap;
    margin: 0 50px;
    border: solid #141c3a 2px;
    box-shadow: 2px 5px;
    background-color: white;
    color: #141c3a;
  }
  .dealerCard{
    min-width: 120px;
    height: 200px;
    display: inline-block;
    overflow: wrap;
    margin: 0 50px;
    border: solid #141c3a 2px;
    box-shadow: 2px 5px;
    background-color: white;
    color: #141c3a;
  }
  .actions{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .button{
    width: 75px;
    height: 30px;
    display: inline-block;
    margin: 0 50px;
    border: solid #141c3a 2px;
    box-shadow: 2px 5px;
    background-color: white;
    color: #141c3a;
  }
  #hit{
    color: white;
    background-color: red;
    border: solid lightcoral 2px;
    align-content: center;
    text-align: center;
  }
  #stay{
    color: black;
    background-color: yellow;
    border: solid orange 2px;
    align-content: center;
    text-align: center;
  }
  .reset{
    display: flex;
    justify-content: center;
  }
  #play_again{
    display: none;
    align-content: center;
    text-align: center;
  }
 